@use "./variables.scss" as *;

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 1400px) {
    gap: 15px;
  }

  @media (max-width: 1000px) {
    gap: 20px;
  }

  @media (max-width: 600px) {
    gap: 8px;
  }
}

.product {
  width: calc(100% / 4 - 15px);
  border: 1px solid #dadada;
  padding: 20px;
  text-decoration: none;
  color: inherit;

  .img-product {
    width: 100%;
    margin: 20px 0;

    @media (max-width: 600px) {
      margin: 10px 0;
    }
  }

  .price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .new {
      font-weight: 700;
      font-size: 18px;
      color: $red;
      margin-right: 5px;
    }

    .previous {
      text-decoration-line: line-through;
    }
  }

  .producer {
    font-size: 13px;
    color: #adadad;
    margin-top: 10px;
  }

  @media (max-width: 1400px) {
    width: calc(100% / 3 - 10px);
  }

  @media (max-width: 1000px) {
    width: calc(100% / 2 - 10px);
  }

  @media (max-width: 600px) {
    width: calc(100% / 2 - 4px);
    padding: 8px;
  }
}

.amount-discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 13px;

  .cart {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;

      @media (max-width: 600px) {
        width: 15px;
      }
    }
  }

  .discount {
    border: 1px solid $red;
    padding: 10px;
    color: $red;
    height: 33px;

    span {
      font-weight: 700;
    }

    @media (max-width: 600px) {
      padding: 10px 2px;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}
