<header class="baner">
  <div class="baner__img-container">
    <img src="../img/baner.svg" alt="Elementy baneru" />
  </div>

  <div class="baner__clock-container">
    <p>DO KOŃCA POZOSTAŁO</p>

    <div class="clock-countdown">
      <div>
        <div id="days" class="clock-countdown__number">4</div>
        <span class="clock-countdown__unit">dni</span>
      </div>

      <div class="clock-countdown__colon">:</div>

      <div class="time">
        <div id="hours" class="clock-countdown__number">11</div>
        <span class="clock-countdown__unit">godz.</span>
      </div>

      <div class="clock-countdown__colon">:</div>

      <div class="time">
        <div id="minutes" class="clock-countdown__number">16</div>
        <span class="clock-countdown__unit">min</span>
      </div>

      <div class="clock-countdown__colon">:</div>

      <div class="time">
        <div id="seconds" class="clock-countdown__number">12</div>
        <span class="clock-countdown__unit">sek.</span>
      </div>
    </div>
  </div>
</header>
