<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Furniture Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <%= require('html-loader!./partials/baner.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/promotion-info.html').default %>
      <!--  -->
      <%= require('html-loader!./partials/amount-products.html').default %>
      <!--  -->
      <section class="products" id="products"></section>
    </div>
  </body>
</html>
